/* .footer{
    margin-top: 200px;
} */
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: var(--font-bn-serif);
  margin-top: 1px;
}

.full-address p{
    padding: 0;
    line-height: 1.2;
}

img {
  width: 100px;
  height: auto;
}

.rx-rule-footer {
  height: 2px;
  /* margin: 12px 0; */
  background: linear-gradient(
    to right,
    transparent,
    var(--gold) 15%,
    var(--gold) 85%,
    transparent
  );
}

.center-name{
    color: var(--teal);
}

.center-address{
    color: #470e21;
    font-size: 0.8rem;
}

